<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Proyecto 02</title>
    <!-- CHARTS-->
    <link rel="stylesheet" href="/css/charts.min.css">
    <!-- End plugin css for this page -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/espol.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">

        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="/images/faces/profile.png" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Javier Vergaran</h5>
                  <span>Admin</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="app.component.html"><img src="/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>

            
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">            
                          <button id='fetch'>Fetch</button>


                <div class="card">
                  <div class="card-body">
                    <div class="row">

                        <div class="g d-flex align-items-center align-self-start">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                        </div>

                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <div class="row">

                        <div class="g d-flex align-items-center align-self-start">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                        </div>

                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <div class="row">

                        <div class="g d-flex align-items-center align-self-start">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                        </div>

                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <div class="row">

                        <div class="g d-flex align-items-center align-self-start">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                        </div>

                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <div class="row">

                        <div class="g d-flex align-items-center align-self-start">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                        </div>

                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <div class="row">

                        <div class="g d-flex align-items-center align-self-start">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                        </div>

                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <div class="row">

                        <div class="g d-flex align-items-center align-self-start">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                          <img class="imgFetch"  src="" alt="Fetch" width="150" height="160">
                        </div>

                    </div>
                  </div>
                </div>

                
              

              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              </div>
            </div>
            <div class="row">

              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>JPG</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="cont" id="contJPG">0</h2>
                        </div>  
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>GIF</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="cont" id="contGIF">0 </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>PNG</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="cont" id="contPNG">0</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Otros</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="cont" id="contotros">0</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Recursividad</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="cont" id="contrec">0</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Grafico recursividad</h4>

                    <button id='grafo1'>Cargar Grafico Lineas</button>
                    <button id='limpiar1'>Limpiar Grafico Lineas</button>
                    <table class="charts-css line" id="my-chart">

                      <tbody>
                       
                      </tbody>

                    </table>
                  </div>

                  <!--    Grafico extensiones    -->

                  <div class="card-body">
                    <h4 class="card-title">Grafico Extensiones</h4>

                    <button id='grafo2'>Cargar Grafico Barras</button>
                    <table class="charts-css column show-labels" id="my-chart">

                      <caption> Grafico Extensiones </caption>
                        <thead>
                          <tr>
                            <th scope="col"> Extension </th>
                          </tr>
                        </thead>
                      <tbody>

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
            
            
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
      
    
    <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/Chart.min.js"></script>

    <!-- inject:js -->

    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <!-- script para el fetch -->
    <script src="assets/js/script.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>