<div class="container-fluid p-0">

    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="Principal">
        <div class="resume-section-content" >
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Bienvenido a Happy Pic</h3>
                    <div class="subheading mb-3"></div>
                    <p>La aplicacion movil carga imagenes al azar de perros para alegrarte el dia.</p>
                </div >
                <!--<div class="flex-shrink-0"><button id='fetch'>Fetch</button></div>-->
            </div>

            <div class="flex-shrink-0" *ngFor="let foto of fotos">
                <div *ngFor="let extension of extensiones">
                    <div *ngIf="extension!='MP4' && extension!='WEBM' ;else elseBlock">
                        <img class="imgFetch" src="{{foto.url}}" alt="Fetch" width="150" height="160">
                        <p>tamaño de la image: {{foto.fileSizeBytes}}</p>
                        <p>extension: {{extension}}</p>
                    </div>
                    <ng-template #elseBlock>
                        <p>formato incorrecto, solo acepta formatos de imagenes</p>
                        <p>extension: {{extension}}</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </section>

</div>