<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Rubrica</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
  <h2>Proyecto 4</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Criterios</th>
          <th scope="col">Puntos</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>API BD relacional</td>
          <td>10 pts</td>
        </tr>
        <tr>
          <td>API BD no relacional</td>
          <td>10 pts</td>
        </tr>
        <tr>
          <td>API Operaciones agregadas</td>
          <td>5 pts</td>
        </tr>
        <tr>
          <td>Aplicación Web - muestra los clientes a partir de la respuesta del API - dbrms</td>
          <td>2.5 pts</td>
        </tr>
        <tr>
          <td>Aplicación Web - realiza una petición al API - nodbrms en función de un cliente seleccionado</td>
          <td>7.5 pts</td>
        </tr>
        <tr>
          <td>Aplicación Web - procesa la respuesta del API - nodbrms en una tabla</td>
          <td>2.5 pts</td>
        </tr>
        <tr>
          <td>Aplicación Web - calcula el total a partir de una llamada al API - operaciones agregadas</td>
          <td>7.5 pts</td>
        </tr>
        <tr>
          <td>Aplicación Web - muestra los productos a partir del resultado de una llamada al API - no dbrms</td>
          <td>5 pts</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>