
    <h4 class="card-title">Grafico Extensiones</h4>

    <button id='grafo2'>Cargar Grafico Barras</button>
    <table class="charts-css column show-labels" id="my-chart">


      <thead>
        <tr>
          <th scope="col"> Extension </th>
        </tr>
        
      </thead>
      <tbody>
        <tr>  
            <th scope="Ejemplo"></th>    
            <td style="--size: 5/6;"></td>
        </tr>
        <tr>           
            <td style="--start: 0.0;--size: {{contJPG}}/{{conttotal}}"> <span class="data"> JPG  </span> </td>
        </tr>
        <tr>           
            <td style="--size: {{contGIF}}/{{conttotal}}"> <span class="data"> GIF  </span> </td>
        </tr>
        <tr>           
            <td style="--size: ${{contPNG}}/{{conttotal}}"> <span class="data"> PNG  </span> </td>
        </tr>
        <tr>           
            <td style="--size: ${{contotros}}/{{conttotal}}"> <span class="data"> Otros </span> </td>
        </tr>

        
      </tbody>
    </table>


