.mb-0,
  .my-0 {
    margin-bottom: 0 !important; }

#fetch {
    background-color: grey;
    font-size: 24px;
    transition-duration: 0.4s;
    border-radius: 8px;
  }
  
  #fetch:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }