

<table id="my-chart" class="charts-css column show-labels">
  <caption> Grafico Extensiones </caption>
  <thead>
    <tr>
      <th scope="col"> Extension </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> JPG </th>
      <td style="--size:{{contJPG}}/{{conttotal}}"></td>
    </tr>
    <tr>
      <th scope="row"> GIF </th>
      <td style="--size:{{contGIF}}/{{conttotal}}"></td>
    </tr>
    <tr>
      <th scope="row"> PNG </th>
      <td style="--size:{{contPNG}}/{{conttotal}}"></td>
    </tr>
    <tr>
      <th scope="row"> Otros </th>
      <td style="--size:{{contotros}}/{{conttotal}};"></td>
    </tr>
  </tbody>
</table>

    


